<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section">Sign up</h2>
    </div>
  </div>
  <form action="/login/signup" method="post">
    <div class="form-group mb-3">
      <label class="label" for="email">Email</label>
      <input
        id="Email"
        name="email"
        type="text"
        class="form-control"
        placeholder="Email"
        autocomplete="email"
        required
      />
    </div>
    <div class="form-group mb-3">
      <label class="label" for="new-password">Password</label>
      <input
        id="new-password"
        name="password"
        type="password"
        class="form-control"
        placeholder="Password"
        autocomplete="new-password"
        required
      />
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="form-control btn btn-primary submit px-3"
      >Sign Up</button>
    </div>
  </form>
</div>