<section class="section my-4">
  <div id="preview">
    <div class="inner">
      {{! <div class="columns"> }}
      {{#each image}}
        {{#if filename}}
          <div class="image fit">
            <div class="card shadow" style="width:100%;">
              <img
                src="data:{{contentType}};base64,{{imageBase64}}"
                alt="{{filename}}"
              />
            </div>
            <div class="content">
              <header>
                <h2>{{filename}}</h2>
              </header>
              <p>Some text...</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                est ligula, ultrices id posuere vitae, rutrum in tellus.
                Suspendisse vitae aliquam metus. Cras blandit, tortor ut
                eleifend porttitor, urna lacus porttitor arcu, quis vestibulum
                metus dolor ut neque. Aenean et nisi venenatis, mollis enim
                eget, pharetra nunc. Sed blandit non mi nec ultrices. Vestibulum
                hendrerit tortor id gravida eleifend. Morbi vitae molestie odio.
                Etiam nec est vel sapien posuere vulputate eget eget mi. Quisque
                vulputate ligula velit, id accumsan dui fringilla nec. Morbi
                nisi mauris, placerat sit amet feugiat nec, vehicula ut ex.</p>
            </div>
          </div>
        {{/if}}
      {{/each}}
      {{! </div> }}
    </div>
    <a href="./detail" class="nav previous"><span
        class="fa fa-chevron-left"
      ></span></a>
    <a href="./detail" class="nav next"><span
        class="fa fa-chevron-right"
      ></span></a>
  </div>
</section>