<!-- Footer -->
<footer id="footer">
  <a href="../about" class="info fa fa-info-circle"><span>About</span></a>
  <div class="inner">
    {{#if this.uploaderShow}}
    {{> uploader}}
    {{/if}}
    <div class="content">
      <h3>푸터의 바닥글 입니다.</h3>
      <p>어쩌고 저짜고 저절시구</p>
    </div>
    <div class="copyright">
      <h3>Follow me</h3>
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span
              class="label"
            >Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span
              class="label"
            >Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span
              class="label"
            >Instagram</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span
              class="label"
            >Dribbble</span></a></li>
      </ul>
      &copy; Untitled. Design:
      <a href="https://templated.co">TEMPLATED</a>. Images:
      <a href="https://sosoz.me/">Sosoz</a>.
    </div>
  </div>
</footer>