{{! <div class="container text-center"> }}
{{! <div class="nav"> }}
{{! <div class="columns"> }}
{{! <div class="row"> }}

<div class="col-12">
  <form action="/search" enctype="text/plain" method="get">
    <div class="row">
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="filename"
          id="word"
          required="required"
          placeholder="Enter a search value..."
        />
      </div>
      <div class="col-4">
        <input type="submit" class="btn btn-info" value="Search" />
      </div>
    </div>
  </form>
  {{! </div> }}
  {{! </div> }}
  {{! </div> }}
</div>
{{! </div> }}